In [10]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("C:/Users/edureuil/Desktop/Doctorat/data/Manipulation04012022RHO_ARVE/HOBO/20794806.csv")

In [3]:
df

                                                                                                                                                                                                                                  Titre de tracé : 20794806
#     Date Heure, GMT-01:00 Plage basse, μS/cm (LGR S/N: 20794806, SEN S/N:... Plage complète, μS/cm (LGR S/N: 20794806, SEN S... Temp., °C (LGR S/N: 20794806, SEN S/N: 20794806) Coupleur détaché (LGR S/N: 20794806)  Fin de fichier (LGR S/N: 20794806)
1     01/04/23 11:30:00 AM  0.9                                                0.8                                                15.27                                            Enregistré                                                           NaN
2     01/04/23 11:30:01 AM  0.9                                                0.8                                                15.28                                            NaN                                                                  NaN
3     01/04/23 11:30:02 AM  0.9                                                0.8                                                15.27                                            NaN                                                                  NaN
4     01/04/23 11:30:03 AM  0.9                                                0.8                                                15.26                                            NaN                                                                  NaN
...                                                                                                                                                                                                                                                     ...
11802 01/04/23 02:46:41 PM  102.2                                              103.0                                              8.64                                             NaN                                                                  NaN
11803 01/04/23 02:46:42 PM  102.3                                              103.0                                              8.63                                             NaN                                                                  NaN
11804 01/04/23 02:46:43 PM  102.4                                              103.0                                              8.64                                             NaN                                                                  NaN
11805 01/04/23 02:46:44 PM  102.3                                              103.0                                              8.64                                             NaN                                                                  NaN
11806 01/04/23 02:46:45 PM  102.5                                              103.0                                              8.64                                             NaN                                                           Enregistré

[11807 rows x 1 columns]

In [13]:
nmp=df.to_numpy()
print(nmp) 
print(type(nmp))

[['Fin de fichier (LGR S/N: 20794806)']
 [nan]
 [nan]
 ...
 [nan]
 [nan]
 ['Enregistré']]
<class 'numpy.ndarray'>